<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<form action="/product/create" method="post">
    <table border="1">
        <tr>
            <td>이름</td>
            <td><input type="text" name="name" id="name" required/></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><input type="text" name="content" id="content" required/></td>
        </tr>
        <tr>
            <td>수량</td>
            <td><input type="number" name="quantity" id="quantity" required/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit"/>상품 생성</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>